@import './reset.css';

/* This h1 will be auto-namespaced by PostCSS to be .cruise-ds h1 */
h1 {
  font-family: Georgia, sans-serif;
  font-size: 1.8rem;
  line-height: 1.2;
}

/**
 * We can write our BEM components like we usually do and they'll generate flat selectors: (.section, .section__heading, .section__summary)
 * The difference here is that if prefixing is enabled, the result selectors will be (.cruise-ds .section, .cruise-ds .section__heading, .cruise-ds .section__summary)
 */
.section {
  padding: 4rem;
  background: #efefef;
  text-align: center;
  color: #ffffff;
  background: #2c3e50;
  border-top: 2rem solid;
  border-bottom: 2rem solid;

  &__heading,
  &__summary {
    margin-left: auto;
    margin-right: auto;
  }

  &__heading {
    border-bottom: 1px solid #cccccc;
    max-width: 30ch;
    padding-bottom: 1rem;
  }

  &__summary {
    font-size: 1.2rem;
    line-height: 1.4;
    font-family: Helvetica, Arial, sans-serif;
    max-width: 50ch;
    padding-top: 2rem;
  }
}
