/**
 * AGGRESSIVE RESET
 *
 * The aim of this reset is to create a middle ground between
 * default browser styles and sensible defaults for everything
 * that lives within a named container (.cruise-ds).
 * The idea is that even non-scoped styles in an unpredictable
 * platform won't leak in.
 */

/* Box sizing rules */
* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: inherit;
}

/* Remove margin and padding from elements */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
dd,
figure,
figcaption,
dl,
dd,
dt {
  margin: 0px;
  padding: 0px;
}

/* Inherit colors */
h1,
h2,
h3,
h4,
p,
li,
dt,
dd {
  color: currentColor;
}

/* "Body" styles that will be converted to the namespace */
body {
  /* Hide persistent scrollbar in IE (10/11) and Edge */
  -ms-overflow-style: -ms-autohiding-scrollbar;

  /* Anchor links will transition rather than skip */
  scroll-behavior: smooth;

  /* Reset font size to 1rem, in case it has a pixel value */
  font-size: 1rem;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration: underline;
  text-decoration-skip-ink: auto;
  cursor: auto;
}

/* Remove _all_ animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  body {
    scroll-behavior: auto;
  }

  * {
    animation: none !important;
    transition: none !important;
  }
}
